.productListContainer .productListCarousel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.productListEmptyState {
  color: #6b7280;
  font-size: 1rem;
}

.productListContainer .productListArrowButton {
  display: none;
}

.productListArrowButton .productListarrowButtonBase:disabled {
  color: #9ca3af;
  cursor: not-allowed;
}

@media (min-width: 80rem) {
  .productListContainer {
    width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }

  .productListContainer .productListArrowButton {
    display: block;
    height: 3rem;
    width: 3rem;
  }

  .productListContainer .productListCarousel {
    overflow-x: hidden;
  }

  .productListContainer .productListArrowButton .productListArrowLeft,
  .productListContainer .productListArrowButton .productListArrowRight {
    transform: translateY(-25%);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
