.productListSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.productListCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 1;
}

.arrowButtonBaseStyles {
  font-size: 1.75rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.arrowButtonBaseStyles:disabled {
  color: #9ca3af;
  cursor: not-allowed;
}

@media (min-width: 80rem) {
  .productListSection {
    width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }

  .arrowButtonBaseStyles {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrowButtonBaseStyles:hover:not(:disabled) {
    background-color: #f3f4f6; /* leve destaque */
    transform: scale(1.05);
  }

  .productArrowLeft {
    position: absolute;
    left: -1rem;
  }

  .productArrowRight {
    position: absolute;
    right: -1rem;
  }

  .productListCard {
    overflow-x: hidden;
  }
}
